* { margin: 0; padding: 0;}

body { margin: 0; padding: 0;}


.header { 
	background: url(../images/header-bg.jpg) no-repeat center top/cover;
	min-height: 1065px;
	position: relative;
	width: 100%;


}

.logo { margin: 0 0 50px 0;}
.logo img{ display: block; margin:0 auto; } 


.main-content { width: 800px; margin: 0 auto; }
.content { 
	color: #fff;
    margin: 0 auto;
    text-align: center;
    width: 580px;
}
.content p { display: block;}

.headline1 { 
	font: 700 54px 'Lato', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 50px;
}

.mouse-img { 
	position: absolute; 
	left: 50%;
	bottom: 113px;

}